.memory {
  display: flex;
  align-items: center;
  background-color: var(--mint);
  padding: 1rem;
  border-radius: 8px;
}

.memory h3 {
  font-size: 1.25rem;
  color: var(--dark-purple);
}

.memory p {
  font-size: 1.25rem;
  font-size: 2rem;
  color: var(--dark-purple);
}

.memoryImage {
  width: 40%;
  height: auto;
  border-radius: 8px;
  margin-bottom: 1rem;
}
.description {
  display: flex;
  align-items: end;
}

.memoryCard {
  display: flex;
  gap: 30px;
}

.memoryCardDate {
  font-weight: bold;
}
